* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: all 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: #101010;
  color: #fff;
  width: 100%;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: sticky;
  top: 0;
}

a {
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 738px;
  padding: 1rem;

  background-color: #ffffff1e;
  backdrop-filter: blur(10px);
  color: #101010;

  border-radius: 0.75rem;
  border: 1px solid #ffffff74;
}

.header h1 {
  font-weight: 300;
}

nav ul {
  display: flex;
  gap: 1.25rem;
}

nav ul li {
  position: relative;
  padding: 0.25rem 0.5rem;
}

nav ul li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  transition: all 0.3s ease-in-out;
}

nav ul li:hover::before {
  width: 100%;
  background-image: linear-gradient(-36deg, #185a9d, #43cea2);
}

.teste {
  background-size: 400% 400%;
  /* background-image: linear-gradient(108deg, #43cea2, #185a9d); */
  background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;
  padding: 0.125rem;
}

.btn-gradient-primary {
  background: #101010;

  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 6px;
}

.teste:hover {
  animation: mygradient 3s ease infinite;
}

.hero {
  width: 100%;
  height: 100vh;

  margin-top: -135px;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
}

.hero h2,
.hero p,
.hero a {
  text-transform: uppercase;
}

.hero h2 {
  font-size: 8rem;
  font-weight: 300;

  background-image: linear-gradient(-36deg, #185a9d, #43cea2);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  margin-top: 10rem;
}

.hero h2 + p {
  margin: 2rem 0;
  font-size: 2rem;
}

.hero .info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero p {
  color: #ffffff99;
}

.btn-action {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
}

.btn-action a {
  font-size: 1rem;
  padding: 1rem;
}

@keyframes mygradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
